$blue: #3894b0;
$teal: #70d8b6;
$lightgreen: #91f391;
$yellow: #e7f404;
$dark-teal: #5baf94;

$text-color: #1c1120;
$text-size: 18px;
$text-size-large: 24px;

*{
  font-size: $text-size;
  color: $text-color;
}
